﻿@model DetailViewModel

@{
    ViewBag.Title = "EShop - " + Model.Product.Name;
    Layout = "_Layout";
}

<div class="card">
    <div class="row no-gutters">
        <div class="col-auto">
            <img src="@($"/images/{Model.Product.Id}.jpg")" class="img-fluid" alt="@Model.Product.Name" width="320" height="350">
        </div>
        <div class="col">
            <div class="card-block px-2">
                <h4 class="card-title">@Model.Product.Name</h4>
                <hr/>
                <br/>
                <p class="card-text">@Model.Product.Description</p>
                
                <h5>قیمت :  @Model.Product.Item.Price</h5>
                <br/>
                <a
                    asp-action="AddToCart"
                    asp-controller="Order"
                    asp-route-ItemId="@Model.Product.ItemId">
                    <button type="button" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                        </svg>
                        افزودن به سبد خرید
                    </button>
                </a>
                <br/><br/>
                <div class="btn-group" role="group">
                   @foreach (var item in Model.Categories)
                   {
                       <a>
                           <button type="button" class="btn btn-secondary">@item.Name</button>
                       </a>
                   }
                </div>

            </div>
        </div>
    </div>
</div>
