﻿@page
@model EShop.Pages.Admin.AddModel
@{
}

<h1>افزودن کالا</h1>

<hr/>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" class="form-control">
        <span asp-validation-for="Product.Name"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" class="form-control">
        <span asp-validation-for="Product.Price"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Product.Description"></label>
        <textarea asp-for="Product.Description" class="form-control"></textarea>
        <span asp-validation-for="Product.Description"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Product.QuantityInStock"></label>
        <input asp-for="Product.QuantityInStock" class="form-control">
        <span asp-validation-for="Product.QuantityInStock"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Product.Picture"></label>
        <input asp-for="Product.Picture" class="form-control">
        <span asp-validation-for="Product.Picture"></span>
    </div> <br/>

    <div class="form-group">
         <label class="form-check-label"asp-for="Product.Categories"></label>
         @foreach(var item in Model.Product.Categories)
        {
            <p>
                <input type="checkbox" class="form-check-input" name="selectedGroups" value="@item.Id"> @item.Name
            </p>
        }
    </div>

    <button type="submit" class="btn btn-success">افزودن</button>
</form>