﻿@page
@model EShop.Pages.Admin.ManageUsers.DetailsModel

@{
    ViewData["Title"] = "جزئیات";
}

<h1>جزئیات</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.RegisterTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.RegisterTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IsAdmin)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserId">ویرایش</a> |
    <a asp-page="./Index">بازگشت به صفحه اصلی</a>
</div>
