﻿@page
@model EShop.Pages.Admin.ManageGroups.DetailsModel

@{
    ViewData["Title"] = "جزئیات";
}

<h1>جزئیات</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.Id" class="btn btn-warning">ویرایش</a> |
    <a asp-page="./Index">بازگشت به لیست گروه ها</a>
</div>
