﻿@page
@model EShop.Pages.Admin.ManageGroups.IndexModel

@{
    ViewData["Title"] = "لیست گروه ها";
}

<h1>گروه ها</h1>

<p>
    <a asp-page="Create">افزودن گروه جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">ویرایش</a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">جزئیات</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
